

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar.navbar-inverse.navbar-fixed-top {
	background-image: linear-gradient(to bottom,#ffffff 0,#ffffff 100%);
	border-width: 0px;
}

button.navbar-toggle {
	border-color: #ffffff !important; 
	/*background-color: #ffffff;*/
}

.manage, .discover {
	font-size: 20px;
}

.manage {
	float: left;
}

.discover {
	float: right;
}

.updates {
	font-size: 44px; 
	color: #FF0A1B;	
	/*font-weight: bold; comment*/
	vertical-align: middle;
	font-family: "Times New Roman";
}

.logo {
	vertical-align: middle;
}

.glyphicon-chevron-up {
	color: #009900;
}

.glyphicon-chevron-down {
	color: #CC0000;
}

.glyphicon {
	font-size: 24px;
}

.change-number {
	font-size: 24px;
	font-weight: bold;
}

.title {
	font-family: "proxima-nova", Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.back-button {
	color: grey;
	font-size: 24px;
	vertical-align: middle;
	font-weight: lighter !important;
}

.back-button.isDetail {
	color: black;
	cursor: pointer;
}

.source {
	float: right;
	font-weight: bold;
	color: grey;
}

.analyst-name {
	color: blue;

}
.1-comment {
	height: 34px;
}
.unopened-chatbox {
	/*background-color: #999;*/
	height: 32px;
	cursor: pointer;
	opacity: 0.2;
}
.unopened-chatbox:hover {
	opacity: 1;
}

.speech-bubble {
		position: relative;
	width: 280px;
	height: 100px;
	text-align: center;
	background-color: #fff;
	border: 1px solid #bbb;
	-webkit-border-radius: 10px;
	-moz-border-radius:80px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}

