<h2>Company Overview</h2>
<b>General Motors Company</b>
<div>
<table class="table table-bordered table-striped yfnc_datamodoutline1" width="100%" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td><table border="0" cellpadding="2" cellspacing="1" width="100%"><tbody><tr><td class="yfnc_tablehead1" width="50%">Index Membership:</td><td class="yfnc_tabledata1">N/A</td></tr><tr><td class="yfnc_tablehead1" width="50%">Sector:</td><td class="yfnc_tabledata1">Consumer Goods</td></tr><tr><td class="yfnc_tablehead1" width="50%">Industry:</td><td class="yfnc_tabledata1">Auto Manufacturers - Major</td></tr><tr><td class="yfnc_tablehead1" width="50%">Full Time Employees:</td><td class="yfnc_tabledata1">219,000</td></tr></tbody></table></td></tr></tbody></table></div>
<p>General Motors Company, commonly known as GM, is an American multinational corporation headquartered in Detroit, Michigan that designs, manufactures, markets and distributes vehicles and vehicle parts and sells financial services.
</p>
<img src="https://www.google.com/finance/getchart?q=GM&p=20d&i=86400" />