<h2>UBS Economy</h2>
<a data-id="m0UzhHwmS4O0bBWiBz1Kqg" data-type="Video" href="http://www.bloomberg.com/video/gm-cfo-chuck-stevens-on-earnings-vehicle-recalls-sales-m0UzhHwmS4O0bBWiBz1Kqg.html"><span class="icon-video-headline">U.S. Car Buyers Offset Troubles Abroad</span>&nbsp;&nbsp;<span style="font-weight: normal; color: grey;">Wall Street Journal</span>
<p style="font-weight: normal; color: grey;">American consumers are buying new cars and trucks at the strongest pace in years, offsetting car makers' troubles elsewhere...</p>
</a>
