<h2>Related Links</h2>
<ul>

<li>
<a data-id="m0UzhHwmS4O0bBWiBz1Kqg" data-type="Video" href="http://www.bloomberg.com/video/gm-cfo-chuck-stevens-on-earnings-vehicle-recalls-sales-m0UzhHwmS4O0bBWiBz1Kqg.html"><span class="icon-video-headline">GM to invest $63 million in Lansing area plant</span><p style="font-weight: normal; color: grey;">General Motors Co. Wednesday announced it will invest $63 million in an expansion of its Lansing Delta Township Assembly Plant...</p>
</a></li>

<li>
<a data-id="m0UzhHwmS4O0bBWiBz1Kqg" data-type="Video" href="http://www.bloomberg.com/video/gm-cfo-chuck-stevens-on-earnings-vehicle-recalls-sales-m0UzhHwmS4O0bBWiBz1Kqg.html"><span class="icon-video-headline">GM CFO Stevens: Recalls Had No `Material Impact' on Sales</span>
</a></li>

</ul>